<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= card.name %> - 카드 페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/card.css" />
    <script src="/js/card.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="card-details">
        <h2><%= card.name %></h2>
        <p><%= card.content %></p>
        <p><strong>마감일:</strong> <%= card.endDate %></p>
        <button class="btn-delete-card" deleteCardId="<%= card.cardId %>">삭제</button>
      </div>
    </div>
  </body>
</html>
